* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Font */
@font-face {
    font-family: alex-brush;
    src: url(../fonts/alexbrush-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: pt-serif;
    src: url(../fonts/PTF55F-webfont.woff) format('woff');
}

/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 92%;
    display: flex;
    padding: 35px 60px;
    color: #333;
    z-index: 1111;
    transition: .2s;
}

.nav-logo {
    flex: 2;
    cursor: pointer;
}

.nav-logo a {
    text-decoration: none;
    color: #333;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.nav-links {
    flex: 2;
}

.nav-links ul {
    display: inline;
    list-style: none;
    transition: .2s;
}

.nav-links ul li {
    display: inline-block;
    margin-left: 50px;
    transform: translateX(50px);
}

.nav-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: .5s;
}

.nav-links .cari1 {
    cursor: pointer;
    float: right;
    color: #333;
}

.nav-links .clear {
    clear: right;
}

.nav-links ul li::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #B28D58;
    transition: .5s;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li:hover a {
    font-weight: bold;
}

.navbar .fa-times,
.navbar .fa-bars {
    display: none;
}

#search {
    display: none;
}

.nav-links .search {
    position: absolute;
    top: 30px;
    left: 1209px;
    width: 130px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 3px;
    opacity: 0;
    animation: animasiSearch 0.5s forwards;
    transition: .3s;
}

@keyframes animasiSearch {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
} 

.nav-links .search i {
    color:#000;
    margin: 2px 6px 0 1px;
    cursor: none;
}

.nav-links .cari2 {
    height: 25px;
    border-radius: 20px;
    width: 100%;
    border: none;
    outline: none;
    color: #444;
    font-size: 15px;
}

/* .nav-links span:hover .cari1 {
    transform: translateX(-80px);
    color: #000;
} */

/* .nav-links span:hover #search {
    animation: animasiSearch 0.5s .3s forwards;
} */

.navbar.black {
    background-color: rgba(0,0,0,0.9);
    transition: 0.5s;
    color: #fff;
    padding: 20px 60px
    
}
.navbar.black .nav-logo a {
    color: #fff;
}

.navbar.black .nav-links .search {
    top : 15px;
}

/* Hero */
/* .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/nature.jpg);
    background-position: 900px,0px;
    background-size: cover;
    overflow: hidden;
    transition: .3s;
}
/* Hero Content */
/* .hero-content {
    text-align: center;
    position: relative;
}

.hero-content .header {
    color: #fff;
    font-family: sans-serif;
    font-size: 60px;
    transform: translateY(280px);
} */ 
/* Main */
.main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10,10%);
    font-family: sans-serif;
}

.main .sec.one {
    background-color: lightcoral;
    grid-row: 1/5;
    grid-column: 1/3;
}
.main .sec.two {
    background-color: lightskyblue;
    grid-row: 1/5;
    grid-column: 3/7;
}
.main .sec.three {
    background-color: #fcfcb8;
    grid-row: 1/8;
    grid-column: 7/9;
}
.main .sec.four {
    background-color: #95ec8d;
    grid-row: 1/4;
    grid-column: 9/11;
}
.main .sec.five {
    background-color: lightsalmon;
    grid-row: 5/11;
    grid-column: 1/4;
}
.main .sec.six {
    background-color: lightpink;
    grid-row: 5/8;
    grid-column: 4/7;
}
.main .sec.seven {
    background-color: #26c9c1;
    grid-row: 8/11;
    grid-column: 4/9;
}
.main .sec.eight {
    background-color: #8fc2eb;
    grid-row: 4/11;
    grid-column: 9/11;
}


.main .sec {
    text-align: center;
    position: relative;
}


.main .sec h3,
.main .sec h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #444;
    transition: .7s;
    cursor: default;
}
.main .sec h1 {
    font-family: alex-brush;
    color: #fff;
    font-size: 50px;
}


.main .sec.one:hover h3,
.main .sec.two:hover h3,
.main .sec.three:hover h3,
.main .sec.four:hover h3,
.main .sec.five:hover h3,
.main .sec.seven:hover h3,
.main .sec.eight:hover h3 {
    color: #000;
}



@media screen and (max-width:1270px) {
    .nav-links .search {
        top: 60px;
        left: 1077px;
    }

    .navbar.black .nav-links ul {
        margin-left: -80px;
    }
    
    
}

@media screen and (max-width:1187px) {
    .nav-links .search {
        top: 60px;
        left: 977px;
    }

    .navbar.black .nav-links .search {
        top: 15px;
        left: 1040px;
    }
    .navbar.black .nav-links ul {
        margin-left: 0px;
    }
}

@media screen and (max-width:1144px) {
    .nav-logo {
        flex: 1;
    }
    .nav-links {
        flex: 3;
    }
    .nav-links .search {
        top: 25px;
        left: 937px;
        width: 130px;
    }
    .nav-links .search i {
        color:#000;
        margin: 2px 6px 0 1px;
        cursor: none;
    }
    
    
    .navbar.black .nav-links .search {
        left: 940px;
    }
}

@media screen and (max-width:1063px) {
    .nav-links .search {
        top: 25px;
        left: 837px;
        width: 130px;
    }
    
    .navbar.black .nav-links .search {
        left: 840px;
    }
    .navbar.black .nav-links .cari1 {
        transform: translateX(-20px);
    }
    
}



@media screen and (max-width:863px) {
    .nav-logo {
        flex: 1;
    }
    .nav-links {
        flex: 7;
    }
    .nav-links .search {
        top: 60px;
        left: 664px;
        width: 130px;
    }
    
    .navbar.black .nav-links .search {
        left: 690px;
    }
    
}

@media screen and (max-width:835px) {

    .nav-links {
        flex: none;
        position: fixed;
        right: -300px;
        top: 0;
        bottom: 0;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 11;
        text-align: left;
        transition: 0.5s;
        padding: 100px 0;
        font-size: 15px;
        
    }
    .nav-links ul {
        padding-right: 100px;
    }
    .nav-links ul li {
        
        transform: none;
        padding: 15px 0;
    }
    .nav-links ul li:hover a {
        font-weight: normal;
    }
    .nav-links ul li a {
        
        text-decoration:  none;
        color: #fff;
        font-size: 17px;
        display: block;
    }

    .nav-links ul li::after {
        content: '';
        overflow: hidden;
    }

    .nav-links .cari1 {
        float: none;
        margin: 20px 60px;
        display: none;
    }

    .nav-links .fa-times {
        display: block;
        font-size: 25px;
        margin-top: -60px;
        margin-left: 50px;
        margin-bottom: 70px;
        cursor: pointer;
    }

    .navbar .fa-bars {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transform: translateX(-20px);
        transition: 0.5s;
    }

    .navbar.black .fa-bars {
        transform: translateX(-60px);
    } 
    
    .navbar.black .nav-links ul {
        margin-left: 0;
    }
    #search {
        display: flex;
        background-color: #fff;
        position: absolute;
        z-index: 111;
        left: 45px;
        top: 15px;
        width: 100%;
        display: flex;
        border-radius: 20px;
        padding: 3px;
    }
    .nav-links .fas {
        color: #fff;
    }
    .nav-links .search {
        
        opacity: 1;
        
    }
    
    .nav-links span {
        display: block;
        width: 60%;
        position: relative;
    }
    .nav-links span:hover .cari1 {
        transform: none;
        color: none;
        display: none;
    }
    
    .nav-links span:hover #search {
        animation: none
    }
    
}



@media screen and (max-width:617px) {
    .hero {
        background-position-x: -110px;
    }
    .hero .header {
        margin-top: 80px;
    }
    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar.black {
        padding-left: 40px;
    }
    .navbar.black .fa-bars {
        transform: translateX(-40px);
    } 
    

    #footer .main-footer {
        flex-direction: column;
        height: auto;
        padding: 100px 60px 50px;
    }

    #footer .main-footer .footer-fitur,
    #footer .main-footer .footer-share {
        padding-top: 35px;
    }

    #footer .copy-footer p {

        width: 60%;
        transform: translateY(-10px);
        line-height: 16px;
    }
}

@media screen and (max-width:460px) {
    .main {
        display: grid;
        height: 200vh;
        width: 100%;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10,10%);
        font-family: sans-serif;
    }
    
    .main .sec.one {
        background-color: lightcoral;
        grid-row: 6/8;
        grid-column: 1/4;
    }
    .main .sec.two {
        background-color: lightskyblue;
        grid-row: 6/8;
        grid-column: 4/11;
    }
    .main .sec.three {
        background-color: #fcfcb8;
        grid-row: 8/9;
        grid-column: 1/8;
    }
    .main .sec.four {
        background-color: #95ec8d;
        grid-row: 8/9;
        grid-column: 8/11;
    }
    .main .sec.five {
        background-color: lightsalmon;
        grid-row: 9/10;
        grid-column: 1/6;
    }
    .main .sec.six {
        background-color: lightpink;
        grid-row: 1/6;
        grid-column: 1/11;
    }
    
    .main .sec.seven {
        background-color: #26c9c1;
        grid-row: 9/10;
        grid-column: 6/11;
    }
    .main .sec.eight {
        background-color: #8fc2eb;
        grid-row: 10/11;
        grid-column: 1/11;
    }
    
    
    .main .sec {
        text-align: center;
        position: relative;
    }
    
    
    .main .sec h3,
    .main .sec h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #444;
        transition: .7s;
        cursor: default;
    }
    .main .sec h1 {
        font-family: alex-brush;
        color: #fff;
        font-size: 50px;
    }
    
    
    .main .sec.one:hover h3,
    .main .sec.two:hover h3,
    .main .sec.three:hover h3,
    .main .sec.four:hover h3,
    .main .sec.five:hover h3,
    .main .sec.seven:hover h3,
    .main .sec.eight:hover h3 {
        color: #000;
    }
}

@media screen and (max-width:345px) {
     
}